<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{42,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,63}</string>
                <key>textureRect</key>
                <string>{{143,1},{42,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{42,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,63}</string>
                <key>textureRect</key>
                <string>{{187,1},{42,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{42,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,63}</string>
                <key>textureRect</key>
                <string>{{231,1},{42,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{44,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,63}</string>
                <key>textureRect</key>
                <string>{{51,1},{44,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,63}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{42,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,63}</string>
                <key>textureRect</key>
                <string>{{275,1},{42,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{42,47}</string>
                <key>spriteSourceSize</key>
                <string>{50,63}</string>
                <key>textureRect</key>
                <string>{{319,1},{42,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{44,49}</string>
                <key>spriteSourceSize</key>
                <string>{50,63}</string>
                <key>textureRect</key>
                <string>{{97,1},{44,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LuoLi.png</string>
            <key>size</key>
            <string>{362,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35587672aec194bb7575e013db5c6fc3:04961efb02b32df8de2fb8376b29887a:9232ac04468eab1397d6f6010aca6a34$</string>
            <key>textureFileName</key>
            <string>LuoLi.png</string>
        </dict>
    </dict>
</plist>
